* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 17px;
}

body {
  padding: 75px 20px 0;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0 0 2px 2px #ccc;
}

/* part 1 */
.header-part-1 {
  display: flex;
  align-items: center;
}

#main-menu-img {
  width: 32px;
  padding: 8px 6px;
  border-radius: 5px;
}

#show-current-section {
  font-size: 20px;
  margin-left: 25px;
}

.header-part-1 img:hover {
  background: #dddddd;
  cursor: pointer;
}

/* part 2 */

.header-form-search {
  flex: 1 1 auto;
  max-width: 550px;
}

.header-form-search form {
  display: flex;
  align-items: center;
}

#input-search-submit,
#input-search-field {
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
}

#input-search-field {
  background: #f1f3f4;
  background-image: url("../images/search-icon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  padding: 10px 5px 10px 40px;
  background-size: 17px;
  border: none;
  flex: 1 1 auto;
  max-width: 500px;
}

#input-search-field:focus {
  background: white;
  background-image: url("../images/search-icon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  background-size: 17px;
  box-shadow: 0 0 5px 2px #ccc;
  outline: none;
}

#input-search-submit {
  background: #f1f3f4;
  border: none;
}

#input-search-submit:hover {
  background: #ffce1c;
}

/* part 3 */
.header-new-notes {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
}

#header-new-notes-img {
  width: 20px;
  margin-right: 10px;
}
.header-new-notes:hover {
  background: #dddddd;
}

/* side-menu */

.side-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
  width: 200px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 60px;
  background-color: #ffffff;
  /* border: white; */
  border-right: 2px solid white;
  padding-right: 10px;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
}

.side-menu a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 10px;
  padding-left: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.side-menu a:hover {
  background-color: #dddddd;
}

.hide-side-menu {
  margin-left: -200px;
}

/* multiple archive delete */

.multiple-archive-delete {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 60px;
  padding: 10px;
}

.multiple-archive-delete button {
  border: none;
  border-radius: 5px;
  border: 1px solid transparent;
}

#multiple-delete-button,
#multiple-archive-button,
#multiple-notes-button {
  padding: 6px 15px 4px;
}

#multiple-close-button {
  padding: 10px 15px 5px;
}

.multiple-archive-delete button img {
  width: 20px;
}

.multiple-archive-delete button:hover {
  background: #ffce1c;
}

/* for mobile */

@media screen and (max-width: 720px) {
  #show-current-section {
    display: none;
  }
  .header-part-1 {
    margin-right: 20px;
  }
}
